ion-content {
  --background: linear-gradient(#373568, #24263a) no-repeat center;
  .body {
    &__header {
      margin-left: 5%;
      h2 {
        color: #fff;
        font-weight: lighter;
      }
      h1 {
        color: #fff;
        font-weight: normal;
      }
    }
    ion-item {
      width: 89%;
      margin-left: 5%;
      --background: rgba(0, 0, 0, 0);
      --border-color: rgba(0, 0, 0, 0);
      ion-label {
        span {
          color: var(--ion-color-primary);
        }
        --color: #fff;
      }
      ion-input {
        --color: #fff;
        font-weight: normal;
      }
      .line {
        width: 100%;
        border-bottom: 1px solid #fff;
      }
    }
    ion-button {
      width: 85%;
      margin-top: 6%;
      margin-left: 7%;
      border-radius: 15px;
    }
    p {
      color: #fff;
      span {
        color: var(--ion-color-primary);
      }
    }
  }
}
