<ion-content>
  <div class="body">
    <div class="body__header">
      <h2>Regístrate En</h2>
      <h1>Bitcoin Trading Lab</h1>
    </div>
    <form [formGroup]="signupForm" (ngSubmit)="register()">
      <ion-item no-padding>
        <div class="line">
          <ion-label position="floating"><span>*</span>Nombre:</ion-label>
          <ion-input type="text" formControlName="name"></ion-input>
        </div>
      </ion-item>
      <ion-item no-padding>
        <div class="line">
          <ion-label position="floating"><span>*</span>Apellido:</ion-label>
          <ion-input type="text" formControlName="lastname"></ion-input>
        </div>
      </ion-item>
      <ion-item no-padding>
        <div class="line">
          <ion-label position="floating"><span>*</span>Correo electrónico:</ion-label>
          <ion-input inputmode="email" formControlName="email"></ion-input>
        </div>
      </ion-item>
      <ion-item no-padding>
        <div class="line">
          <ion-label position="floating">Api Key (Binance):</ion-label>
          <ion-input type="text" formControlName="apiKey"></ion-input>
        </div>
      </ion-item>
      <ion-item no-padding>
        <div class="line">
          <ion-label position="floating">Api Secret (Binance):</ion-label>
          <ion-input type="text" formControlName="apiSecret"></ion-input>
        </div>
      </ion-item>
      <ion-item no-padding>
        <div class="line">
          <ion-label position="floating"><span>*</span>Contraseña:</ion-label>
          <ion-input type="password" formControlName="password"></ion-input>
        </div>
      </ion-item>
      <ion-item no-padding>
        <div class="line">
          <ion-label position="floating"><span>*</span>Confirmar Contraseña:</ion-label>
          <ion-input type="password" formControlName="confPass"></ion-input>
        </div>
      </ion-item>
      <ion-button mode="ios" expand="block" size="default" type="submit">REGÍSTRATE</ion-button>
    </form>
    <div class="ion-text-center" (click)="goto('/')">
      <p><span>¿YA TE REGISTRASTE?,</span> INICIA SESION</p>
    </div>
  </div>
</ion-content>