<ion-content>
  <ion-toolbar>
    <ion-title>
      Ordenes
    </ion-title>
  </ion-toolbar>
  <div class="header-card">
    <img src="assets/header/purple-card.png" alt="Header purple card">
  </div>
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-card mode="ios" (click)="goto('/tabs/orders/manual')" >
          <div class="icon-button ion-text-center">
            <img src="assets/icons/manual-icon.png" alt="manual icon">
            <p class="label-manual">Ordenes manuales</p>
          </div>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card mode="ios" (click)="goto('/tabs/orders/history')">
          <div class="icon-button ion-text-center">
            <img src="assets/icons/history-icon.png" alt="history icon">
            <p class="label-history">Historial de ordenes</p>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-card mode="ios" (click)="goto('/tabs/orders/buy')">
          <div class="icon-button ion-text-center">
            <img src="assets/icons/buy-icon.png" alt="buy icon">
            <p class="label-buy">Ordenes de compras</p>
          </div>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card mode="ios" (click)="goto('/tabs/orders/sell')">
          <div class="icon-button ion-text-center">
            <img src="assets/icons/sell-icon.png" alt="sell icon">
            <p class="label-sell">Ordenes de ventas</p>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>