ion-content {
  ion-toolbar {
    --background: none !important;
    --color: var(--ion-color-primary-contrast);
  }
  .header-card {
    img {
      margin-top: -50%;
      margin-left: -30%;
    }
  }
  ion-grid {
    margin-top: -40%;
    ion-row {
      ion-col {
        ion-card {
          background: rgba(75, 68, 124, 0.6);
          border-radius: 15px;
          .icon-button {
            margin-top: 10%;
            img {
              width: 45%;
              margin-left: 28%;
            }
            .label-manual {
              font-size: larger;
              color: #94d1fd;
            }
            .label-history {
              font-size: larger;
              color: #ac89ff;
            }
            .label-buy {
              font-size: larger;
              color: #ff92ef;
            }
            .label-sell {
              font-size: larger;
              color: #ffc19b;
            }
          }
        }
      }
    }
  }
}
