<ion-header mode="ios" no-border no-shadows>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="ios-arrow-back" color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Configurar monto a inventir
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="body">
    <ion-item no-padding>
      <div class="line">
        <ion-label position="floating">Monto actual de inversión (BTC):</ion-label>
        <ion-input readonly="true" value="{{actualMount}}"></ion-input>
      </div>
    </ion-item>
    <form [formGroup]="mountForm">
      <ion-item no-padding lines="none">
        <div class="line">
          <ion-label position="floating">Nuevo monto a invertir (BTC):</ion-label>
          <ion-input type="number" formControlName="mount"></ion-input>
        </div>
        <p>*Monto mínimo de inversión es de BTC 0.0015.</p>
      </ion-item>
      <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button [disabled]="mountForm.invalid" type="submit" (click)="updateMount()">
          <ion-icon name="ios-checkmark"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </form>
  </div>
</ion-content>