<ion-header mode="ios" no-border no-shadows>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="ios-arrow-back" color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Ordenes de compras
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="body">
    <!-- <h3>Activas</h3>
    <ion-grid>
      <ion-row class="row_bottom" *ngFor="let a of active">
        <ion-col size="6">{{a.par}}</ion-col>
        <ion-col size="5" class="col_mount">{{a.symbol}} {{a.mount}}</ion-col>
        <ion-col size="1">
          <ion-icon name="close" color="primary"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid> -->
    <h3>Completadas</h3>
    <ion-grid>
      <ion-row class="row_header">
        <ion-col size="3">Símbolo</ion-col>
        <ion-col size="5">Precio</ion-col>
        <ion-col size="4" class="col_mount">Monto</ion-col>
      </ion-row>
      <ion-row class="row_bottom" *ngFor="let b of complete">
        <div *ngIf="b.process != true"></div>
        <ion-col size="3">{{b.symbol}}</ion-col>
        <ion-col size="5" class="ion-text-center">{{b.price}}</ion-col>
        <ion-col size="4" class="col_mount">{{b.mount | number}}</ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>