<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="shared">
      <ion-icon name="ios-home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="orders">
      <ion-icon name="ios-trending-up"></ion-icon>
      <ion-label>Ordenes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="users">
      <ion-icon name="ios-settings"></ion-icon>
      <ion-label>Usuario</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>