<ion-header mode="ios" no-border no-shadows>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="ios-arrow-back" color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Configuración de api key
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="body">
    <ion-item no-padding>
      <div class="line">
        <ion-label position="floating">Api key actual de Binance:</ion-label>
        <ion-input readonly="true" value="{{actualApiKey}}"></ion-input>
      </div>
    </ion-item>
    <form [formGroup]="apiKeyForm">
      <ion-item no-padding>
        <div class="line">
          <ion-label position="floating">Nueva api key de Binance:</ion-label>
          <ion-input type="text" formControlName="apiKey"></ion-input>
        </div>
      </ion-item>
      <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button [disabled]="!apiKeyForm.valid" type="submit" (click)="updateKey()" >
          <ion-icon name="ios-checkmark"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </form>
  </div>
</ion-content>