<ion-header mode="ios" no-border no-shadows>
  <ion-toolbar>
    <ion-title>
      Perfil de usuario
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none">
    <ion-item lines="none" (click)="goto('/tabs/users/key')" >
      <p>Configurar Api Key</p>
      <ion-icon slot="end" name="ios-arrow-forward" color="primary"></ion-icon>
    </ion-item>
    <ion-item lines="none" (click)="goto('/tabs/users/secret')" >
      <p>Configurar Api Secret</p>
      <ion-icon slot="end" name="ios-arrow-forward" color="primary"></ion-icon>
    </ion-item>
    <ion-item lines="none" (click)="goto('/tabs/users/mount')" >
      <p>Configurar monto a invertir</p>
      <ion-icon slot="end" name="ios-arrow-forward" color="primary"></ion-icon>
    </ion-item>
    <!-- <ion-item lines="none" (click)="goto('/tabs/users/email')" >
      <p>Cambiar correo electrónico</p>
      <ion-icon slot="end" name="ios-arrow-forward" color="primary"></ion-icon>
    </ion-item> -->
    <ion-item lines="none" (click)="goto('/tabs/users/password')" >
      <p>Cambiar contraseña</p>
      <ion-icon slot="end" name="ios-arrow-forward" color="primary"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer no-border no-padding>
  <ion-button expand="full" fill="solid" (click)="logout()" >CERRAR SESIÓN</ion-button>
</ion-footer>