ion-content {
  ion-list {
    background: none;
    ion-item {
      p {
        color: var(--ion-color-primary-contrast);
      }
    }
  }
}

ion-footer {
  background: #24263a;
  ion-button {
    margin: 0;
  }
}
