<ion-header mode="ios" no-border no-shadows>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="ios-arrow-back" color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Ordenes de ventas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="body">
    <h3>Activas</h3>
    <ion-grid>
      <ion-row class="row_header">
        <ion-col size="3" class="col_symbol">Símbolo</ion-col>
        <ion-col size="6" class="col_mount">Monto</ion-col>
        <ion-col size="3" class="col_mount">Acción</ion-col>
      </ion-row>
      <div *ngFor="let a of complete">
        <div *ngIf="a.process == true">
          <ion-row class="row_bottom">
            <ion-col size="3">{{a.symbol}}</ion-col>
            <ion-col size="7" class="col_mount ion-text-center">{{a.mount | number}}</ion-col>
            <ion-col size="2" (click)="deleteOrders(a.id)">
              <ion-icon name="close" color="primary"></ion-icon>
            </ion-col>
          </ion-row>
        </div>
      </div>
    </ion-grid>
    <h3>Completadas</h3>
    <ion-grid>
      <ion-row class="row_header">
        <ion-col size="4" class="col_symbol">Símbolo</ion-col>
        <ion-col size="4" class="col_symbol">Precio</ion-col>
        <ion-col size="4" class="col_mount">Monto</ion-col>
      </ion-row>
      <ion-row class="row_bottom" *ngFor="let s of complete">

        <ion-col size="3" *ngIf="s.process === undefined">{{s.symbol}}</ion-col>
        <ion-col size="5" *ngIf="s.process === undefined" class="ion-text-center">{{s.price}}</ion-col>
        <ion-col size="4" *ngIf="s.process === undefined" class="col_mount">{{s.mount | number}}</ion-col>

      </ion-row>
    </ion-grid>
  </div>
</ion-content>