ion-content {
  .body {
    h3 {
      color: #9696c1;
    }
    ion-grid {
      .row_header {
        color: #fff;
        text-align: center;
      }
      .row_bottom {
        margin-left: 5%;
        margin-right: 5%;
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        color: #fff;
        .col_mount {
          text-align: end;
        }
      }
    }
  }
}
