<ion-header mode="ios" no-border no-shadows>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="ios-arrow-back" color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Historial
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="body">
    <ion-segment mode="md" (ionChange)="changeMode($event)">
      <ion-segment-button value="buy" checked>
        <ion-label>Compras</ion-label>
      </ion-segment-button>
      <ion-segment-button value="sell">
        <ion-label>Ventas</ion-label>
      </ion-segment-button>
    </ion-segment>
    <div *ngIf="mode === 'buy'">
      <ion-grid>
        <ion-row class="row_header">
          <ion-col size="3">Símbolo</ion-col>
          <ion-col size="5">Precio</ion-col>
          <ion-col size="4" class="col_mount">Monto</ion-col>
        </ion-row>
        <ion-row class="row_bottom" *ngFor="let b of buy">
          <div *ngIf="b.process != true"></div>
          <ion-col size="3">{{b.symbol}}</ion-col>
          <ion-col size="5" class="ion-text-center">{{b.price}}</ion-col>
          <ion-col size="4" class="col_mount">{{b.mount | number}}</ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div *ngIf="mode === 'sell'">
      <ion-grid>
        <ion-row class="row_header">
          <ion-col size="3">Símbolo</ion-col>
          <ion-col size="5">Precio</ion-col>
          <ion-col size="4" class="col_mount">Monto</ion-col>
        </ion-row>
        <ion-row class="row_bottom" *ngFor="let s of sell">
            <ion-col size="3">{{s.symbol}}</ion-col>
            <ion-col size="5" class="ion-text-center">{{s.price }}</ion-col>
            <ion-col size="4" class="col_mount">{{s.mount | number}}</ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>