ion-content {
  .body {
    ion-grid {
      .row_header {
        text-align: center;
        color: #fff;
      }
      .row_bottom {
        margin-left: 5%;
        margin-right: 5%;
        border-bottom: 1px solid rgba(255, 255, 255, .5);
        color: #fff;
        .col_mount {
          text-align: end;
        }
      }
    }
  }
}
