<ion-content>
  <div class="header-card">
    <img src="assets/header/pink-card.png" alt="Header pink card">
  </div>
  <div class="body">
    <div class="body__header">
      <h2>Bienvenido A</h2>
      <h1>Bitcoin Trading Lab</h1>
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <ion-item no-padding>
        <div class="line">
          <ion-label position="floating">Correo electrónico:</ion-label>
          <ion-input inputmode="email" formControlName="username"></ion-input>
        </div>
      </ion-item>
      <ion-item no-padding>
        <div class="line">
          <ion-label position="floating">Contraseña:</ion-label>
          <ion-input type="password" formControlName="password"></ion-input>
        </div>
      </ion-item>
      <ion-button mode="ios" expand="block" size="default" type="submit">INICIAR SESIÓN</ion-button>
    </form>
    <div class="ion-text-center" (click)="goto('/session/signup')">
      <p><span>¿ERES NUEVO?,</span> REGISTRATE</p>
    </div> 
  </div>
  <div class="footer-card">
    <img src="assets/header/blue-card.png" alt="Header blue card">
  </div>
</ion-content>