ion-content {
  ion-item {
    width: 89%;
    margin-left: 5%;
    ion-label {
      --color: #fff;
    }
    ion-input {
      --color: #fff;
      font-weight: normal;
    }
    .line {
      width: 100%;
      border-bottom: 1px solid #fff;
    }
    p {
        margin-top: 4%;
        color: var(--ion-color-primary);
        font-size: .75em;
    }
  }
  ion-fab {
    ion-fab-button {
      ion-icon {
        font-size: 40px !important;
      }
    }
  }
}
