<ion-header mode="ios" no-border no-shadows>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="ios-arrow-back" color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Cambiar correo electrónico
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="body">
    <ion-item no-padding>
      <div class="line">
        <ion-label position="floating">Correo electrónico actual:</ion-label>
        <ion-input readonly="true" value="{{actualEmail}}"></ion-input>
      </div>
    </ion-item>
    <form [formGroup]="emailForm">
      <ion-item no-padding lines="none">
        <div class="line">
          <ion-label position="floating">Nueva correo electrónico:</ion-label>
          <ion-input type="email" formControlName="email"></ion-input>
        </div>
        <p>Una vez que cambie el correo electrónico, deberá iniciar sesión de nuevo.</p>
      </ion-item>
      <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button [disabled]="!emailForm.valid" type="submit" (click)="updateEmail()">
          <ion-icon name="ios-checkmark"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </form>
  </div>
</ion-content>