<ion-header mode="ios" no-border no-shadows>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="ios-arrow-back" color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Ordenes Manuales
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="body">
    <form [formGroup]="manualForm">
      <ion-item no-padding lines="none">
        <div class="line">
          <ion-label position="floating">Par de moneda:</ion-label>
          <ion-input type="text" formControlName="par"></ion-input>
        </div>
      </ion-item>
      <ion-item no-padding lines="none">
        <div class="line">
          <ion-label position="floating">Precio:</ion-label>
          <ion-input type="number" formControlName="price"></ion-input>
        </div>
      </ion-item>
      <ion-item no-padding lines="none">
        <div class="line">
          <ion-label position="floating">Monto a comprar:</ion-label>
          <ion-input type="number" formControlName="mount"></ion-input>
        </div>
      </ion-item>
      <ion-item no-padding lines="none">
        <div class="line">
          <ion-label position="floating">Total:</ion-label>
          <ion-input type="number" formControlName="total"></ion-input>
        </div>
      </ion-item>
      <ion-item no-padding lines="none">
        <ion-label>Tipo de orden</ion-label>
        <ion-select interface="popover" mode="ios" (ionChange)="typeOrder($event)">
          <ion-select-option value="buy" selected>Compra</ion-select-option>
          <ion-select-option value="sell">Venta</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button [disabled]="!manualForm.valid" type="submit" (click)="manualOrder()">
          <ion-icon name="ios-checkmark"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </form>
  </div>
</ion-content>