<ion-header mode="ios" no-border no-shadows>
  <ion-toolbar>
    <ion-title>
      Bienvenido, {{userData.user.name}} {{userData.user.lastname}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="body">
    <div class="body__card-balance">
      <ion-card mode="ios">
        <h1>$ {{userBalanceUSD}}</h1>
        <h6>BTC {{userBalance.balance}}</h6>
        <p>Balance Disponible</p>
      </ion-card>
    </div>
    <div class="body__card-transaction">
      <ion-card mode="ios">
        <h1>{{userBalance.statistics.win}}</h1>
        <p>Transacciones Completadas</p>
        <h1>{{userBalance.statistics.lost}}</h1>
        <p>Transacciones Perdidas</p>
      </ion-card>
    </div>
    <div class="body__card-total">
      <ion-card mode="ios">
          <h1>BTC {{userBalance.investment.total}}</h1>
          <p>Total Invertido</p>
          <h1>BTC {{userBalance.investment.win}}</h1>
          <p>Total Ganado</p>
          <h1>BTC {{userBalance.investment.lose}}</h1>
          <p>Total Perdido</p>
      </ion-card>
    </div>
  </div>
</ion-content>