ion-content {
  .body {
    &__card-balance {
      ion-card {
        --background: linear-gradient(to bottom right, #8433ff, #a439ff);
        --color: var(--ion-color-primary-contrast);
        border-radius: 15px;
      }
      h1 {
        margin-left: 8%;
        margin-bottom: 0;
      }
      h6 {
        margin-left: 8%;
        margin-top: 0;
      }
      p {
        margin: 8% 0% 8% 8%;
        font-weight: 300;
      }
    }
    &__card-transaction {
      ion-card {
        --background: linear-gradient(to bottom right, #1961f1, #5d8ef0);
        --color: var(--ion-color-primary-contrast);
        border-radius: 15px;
      }
      h1 {
        margin-top: 5%;
        margin-left: 8%;
        margin-bottom: 0;
      }
      p {
        margin-top: 1%;
        margin-left: 8%;
        margin-bottom: 7%;
        font-weight: 300;
      }
    }
    &__card-total {
      ion-card {
        --background: linear-gradient(to bottom right, #fe4bc0, #ff6da4);
        --color: var(--ion-color-primary-contrast);
        border-radius: 15px;
      }
      h1 {
        margin-top: 5%;
        margin-left: 8%;
        margin-bottom: 0;
      }
      p {
        margin-top: 1%;
        margin-left: 8%;
        margin-bottom: 7%;
        font-weight: 300;
      }
    }
  }
}
