<ion-header mode="ios" no-border no-shadows>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="ios-arrow-back" color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Cambiar contraseña
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="body">
    <form [formGroup]="passForm">
      <ion-item no-padding lines="none">
        <div class="line">
          <ion-label position="floating">Contraseña actual:</ion-label>
          <ion-input type="password" formControlName="oldPassword"></ion-input>
        </div>
      </ion-item>
      <ion-item no-padding lines="none">
        <div class="line">
          <ion-label position="floating">Nueva contraseña:</ion-label>
          <ion-input type="password" formControlName="newPassword"></ion-input>
        </div>
      </ion-item>
      <ion-item no-padding lines="none">
        <div class="line">
          <ion-label position="floating">Confirmar contraseña:</ion-label>
          <ion-input type="password" formControlName="confPass"></ion-input>
        </div>
        <p>Una vez que cambie la contraseña, deberá iniciar sesión de nuevo.</p>
      </ion-item>
      <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button [disabled]="!passForm.valid" type="submit" (click)="updatePass()">
          <ion-icon name="ios-checkmark"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </form>
  </div>
</ion-content>